@use "../../utils" as *;

/*----------------------------------------*/
/*  		3.1 header-1
/*----------------------------------------*/

// customize by shahreeyar rahman

.cs-heading {
  &__wrapper {
    padding: 10px 0 36px 0;
  }
  &__content {
    a {
      white-space: nowrap;
      font-size: var(--rr-fs-body);
      font-weight: var(--rr-fw-regular);
      color: var(--rr-heading-primary);
    }
  }
  &__left-border {
    border-left: 2px solid rgba(35, 47, 75, 0.1);
  }
  &__main-logo {
    width: 142px;
    // padding-left: 47px;
  }
}

.cs-navbar {
  &__area {
    z-index: 999;
    position: relative;
  }
  &__content {
    padding: 0 115px;
    margin-top: -22px;
    border-radius: 10px;
    ul {
      li {
        list-style: none;
        display: inline-block;
        &:hover {
          & > a {
            opacity: 0.8;
            color: var(--rr-common-white);
          }
          & .sub-menu {
            opacity: 1;
            visibility: visible;
            transform: scaleY(1);
          }
          &.has-dropdown {
            & a {
              i {
                transform: rotate(180deg);
              }
            }
          }
        }
        a {
          display: block;
          font-size: 18px;
          text-align: right;
          padding: 25px 0px;
          font-family: var(--rr-ff-heading);
          color: var(--rr-common-white);
        }
      }
    }
  }
}

.has-dropdown {
  a {
    i {
      font-size: 15px;
      margin-left: 3px;
      @include rs-transition;
    }
  }
  .sub-menu {
    left: 0;
    opacity: 0;
    top: 100%;
    width: 200px;
    padding: 10px;
    text-align: start;
    visibility: hidden;
    transform: scaleY(0);
    @include rs-transition;
    background-color: var(--rr-common-white);          
    li {
      display: block;
      list-style: none;
      margin-right: 0px;
      &:hover {
        a {
          padding-left: 20px;
          color: var(--rr-theme-secondary);
        }
      }
      a {
        font-size: 18px;
        padding: 10px;
        display: block;
        text-align: start;
        text-align: right;
        position: relative;
        text-align: start;
        color: var(--rr-theme-primary);
        font-family: var(--rr-ff-heading);
      }
    }
  }
}

nav {
  & ul {
    & li:not(:last-child) {
      list-style: none;
      margin-right: 40px;
      display: inline-block;
    }
  }
}
