@use "../../utils" as *;

/*----------------------------------------*/
/*  6.4 footer-copyright
/*----------------------------------------*/

.cs-copyright {
	&__area{
		padding: 22px 0px ;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
	}
  &__content {
    &-left {
      p {
        font-weight: 400;
        color: rgba(255, 255, 255, 0.8);
		margin: 0;
        span {
          font-family: var(--font3);
          font-weight: 600;
          line-height: 229%;
          color: #fff;
        }
      }
    }
    &-right {
      a {
        font-family: var(--font3);
        font-weight: 400;
        line-height: 229%;
        color: #fff;
      }
      span {
        font-family: var(--font3);
        font-weight: 400;
        line-height: 229%;
        color: #fff;
      }
    }
  }
}
