@use "../../utils" as *;

/*----------------------------------------*/
/*  6.4 footer-copyright
/*----------------------------------------*/

.cs-copyright {
  &__area {
    padding: 22px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  &__content {
    &-left {
      p {
        color: rgba(255, 255, 255, 0.8);
        margin: 0;
        span {
          line-height: 229%;
          font-family: var(--font3);
          font-weight: var(--rr-fw-sbold);
          color: var(--rr-common-white);
        }
      }
    }
    &-right {
      a {
        line-height: 229%;
        @include rs-transition;
        font-family: var(--font3);
        color: var(--rr-common-white);
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        line-height: 229%;
        color: var(--rr-common-white);
      }
    }
  }
}
