@use "../../utils" as *;

/*----------------------------------------*/
/*  6.1 footer
/*----------------------------------------*/

.cs-footer1 {
  &__area {
    padding: 95px 0px 70px 0px;
  }
  &__content-text {
    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 16px;
      font-family: var(--rr-ff-body);
      color: var(--rr-common-white);
    }
    h6 {
      font-size: 18px;
      font-weight: var(--rr-fw-sbold);
      color: var(--rr-common-white);
      font-family: var(--second-family);
      a {
        @include rs-transition;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .social-icon {
      ul {
        li {
          display: inline-block;
          a {
            display: block;
            margin-right: 20px;
            @include rs-transition;
            color: var(--rr-common-white);
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
  &__content-links,
  &__content-service {
    h6 {
      font-weight: var(--rr-fw-sbold);
      font-size: 18px;
      line-height: 133%;
      margin-bottom: 12px;
      color: var(--rr-common-white);
    }
    ul {
      li {
        list-style: none;
        a {
          font-size: 16px;
          line-height: 212%;
          color: var(--rr-common-white);
          font-family: var(--second-family);
          @include rs-transition;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__post {
    h6 {
      font-size: 18px;
      line-height: 133%;
      margin-bottom: 15px;
      color: var(--rr-common-white);
      font-weight: var(--rr-fw-sbold);
    }
    &-text {
      p {
        margin: 0;
        opacity: 0.8;
        font-size: 12px;
        color: var(--rr-common-white);
        font-family: var(--second-family);
      }
      h6 {
        font-size: 16px;
        line-height: 150%;
        font-family: var(--font-family);
        font-weight: var(--rr-fw-sbold);
        color: var(--rr-common-white);
      }
    }
  }
}
