@use '../../utils' as *;
/*----------------------------------------*/
/*  3.1 banner Style 5
/*----------------------------------------*/
.banner-5{
    background: #111214;
    &-gutter{
        padding-right: 0;
        @media #{$xs} {
            padding-right: 15px;
        }
    }
    &__thumb-bg{
        opacity: 0.5;
        background-position: bottom;
        &::before{
            background: linear-gradient(89.99deg, #111214 0.01%, rgba(17, 18, 20, 0) 99.99%);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            top: 0;
            left: 0;
        }
    }
    &__subtitle{
        background: rgb(255 255 255 / 10%);
        font-family: var(--rr-ff-heading);
        font-weight: var(--rr-fw-sbold);
        color: var(--rr-theme-primary);
        font-style: normal;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        display: inline;
        padding: 8px 20px;
        letter-spacing: 1.4px;
        border-radius: 2px;
    }
    &__title{
        margin-top: 15px;
        font-weight: var(--rr-fw-sbold);
        @media #{$lg, $md, $sm, $xs} {
            br{
                display: none;
            }
        }
    }
    &__space{
        padding: 147px 0 147px 0;
        @media #{$sm, $xs} {
            padding: 80px 0 80px 0;
        }
        @media #{$lg, $md} {
            padding: 110px 0 110px 0;
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 60px;
        column-gap: 15px;
        @media #{$lg, $md, $sm, $xs} {
            justify-content: center;
        }
    }
    &__content {
        p{
            color: rgb(255 255 255 / 70%);
            margin-bottom: 40px;
            @media #{$lg, $md, $sm, $xs} {
                br{
                    display: none;
                }
            }
        }
    }
    &__form-wrapper{
        background: #111214;
        max-width: 480px;
        padding: 57px 30px 60px 30px;
        border-radius: 10px;
        box-shadow: inset 0px 4px 0px #83CD20;
        &-subtitle{
            font-family: var(--rr-ff-heading);
            color: var(--rr-theme-primary);
            font-style: normal;
            font-weight: var(--rr-fw-sbold);
            font-size: 14px;
            line-height: 14px;
            text-transform: capitalize;
            margin-bottom: 19px;
        }
        &-title{
            font-family: var(--rr-ff-heading);
            font-weight: var(--rr-fw-sbold);
            color: var(--rr-common-white);
            font-style: normal;
            font-size: 36px;
            line-height: 36px;
            text-transform: capitalize;
            margin-bottom: 36px;
        }
        &-form{
            &-input{
                input{
                    background: var(--rr-common-white);
                    font-family: var(--rr-ff-heading);
                    font-weight: var(--rr-fw-regular);
                    color: var(--rr-text-body);
                    font-style: normal;
                    font-size: 14px;
                    margin-left: 0;
                    padding: 10px 14px;
                    border-radius: 4px;
                    margin-bottom: 10px;
                }
            }
            &-textarea{
                textarea{
                    background: var(--rr-common-white);
                    font-family: var(--rr-ff-heading);
                    font-weight: var(--rr-fw-regular);
                    color: var(--rr-text-body);
                    font-style: normal;
                    font-size: 14px;
                    margin-left: 0;
                    border-radius: 4px;
                    height: 120px !important;
                    padding: 12px 14px;
                }
            }
            .rr-btn{
                gap: 6px;
                border-radius: 4px;
                i{
                    margin-top: 2px;
                }
            }
        }
    }
}