@use "../../utils" as *;
/*----------------------------------------*/
/*  3.1 banner Style 1
/*----------------------------------------*/
// customize by shahreeyar rahman

.cs-banner {
  &__area {
    position: relative;
  }
  &__content {
    width: 100%;
    margin-top: -56px;
  }
  &__container-wrapper {
    z-index: 1;
    position: relative;
    padding-top: 225px;
    padding-bottom: 170px;
  }
  &__text {
    h1 {
      font-size: 72px;
      line-height: 1.3;
      color: var(--rr-body-primary);
      font-weight: var(--rr-fw-ebold);
      font-family: var(--rr-ff-heading);
    }
    p {
      opacity: 0.6;
      font-size: 20px;
      line-height: 150%;
      margin: 10px 0 40px 0;
      color: var(--rr-body-primary);
      font-weight: var(--rr-fw-regular);
    }
  }
  &__play-btn {
    a {
      width: 60px;
      height: 60px;
      display: grid;
      place-items: center;
      border-radius: 50%;
      background: linear-gradient(180deg, #7a97e9 0%, #1039ad 100%);
    }
    span {
      font-size: 18px;
      color: var(--rr-body-primary);
      font-family: var(--rr-ff-heading);
      font-weight: var(--rr-fw-medium);
    }
  }
  &__form-wrapper {
    padding: 40px;
    border-radius: 10px;
    background: var(--rr-body-primary);
    h1 {
      font-size: 36px;
      line-height: 89%;
      text-align: center;
      padding-bottom: 28px;
      font-weight: var(--rr-fw-sbold);
      color: var(--rr-theme-secondary);
    }
  }
  &__form {
    input {
      margin: 0;
      padding: 10px 20px;
      background: #f7f7f7;
      border: none !important;
      &::placeholder {
        font-size: 14px;
        color: var(--rr-text-body);
      }
      &:focus {
        outline: none;
        box-shadow: none;
        background: #f7f7f7;
        &::placeholder {
          opacity: 0;
        }
      }
    }
    a {
      border: none;
    }
  }
  &__form-select-box {
    & select {
      outline: none;
      font-size: 14px;
      line-height: 229%;
      box-shadow: none;
      color: var(--rr-text-body);
      font-family: var(--second-family);
      &:focus {
        outline: none;
        box-shadow: none;
        border-color: #e7e7e7 !important;
        &::placeholder {
          opacity: 0;
        }
      }
    }
  }
}
