@use "../../utils" as *;
/*----------------------------------------*/
/*  3.1 banner Style 1
/*----------------------------------------*/
// customize by shahreeyar rahman

.cs-banner {
  &__area {
    position: relative;
  }
  &__content {
    width: 100%;
    margin-top: -56px;
  }
  &__container-wrapper {
    position: relative;
    z-index: 1;
    padding-top: 210px;
    padding-bottom: 170px;
  }
  &__text {
    h1 {
      font-family: var(--rr-ff-heading);
      font-weight: var(--rr-fw-ebold);
      font-size: 72px;
      line-height: var(--rr-lh-a);
      color: var(--rr-body-primary);
    }
    p {
      font-weight: var(--rr-fw-regular);
      font-size: 20px;
      line-height: 150%;
      color: var(--rr-body-primary);
      opacity: 0.6;
      margin: 12px 0 40px 0;
    }
  }
  &__play-btn {
    a {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      background: linear-gradient(180deg, #7a97e9 0%, #1039ad 100%);
    }
    span {
      font-family: var(--rr-ff-heading);
      font-weight: var(--rr-fw-medium);
      font-size: 18px;
      color: var(--rr-body-primary);
    }
  }
  &__form-wrapper {
    background: var(--rr-body-primary);
    border-radius: 10px;
    padding: 40px;
    h1 {
      font-weight: var(--rr-fw-sbold);
      font-size: 36px;
      line-height: 89%;
      text-align: center;
      color: var(--rr-theme-secondary);
      padding-bottom: 28px;
    }
  }
  &__form {
    input {
      background: #f7f7f7;
      padding: 10px 20px;
      border: none !important;
      margin: 0;
      &::placeholder {
        font-size: 14px;
        color: #7b7d83;
      }
      &:focus {
        box-shadow: none;
        outline: none;
        background: #f7f7f7;
        &::placeholder {
          opacity: 0;
        }
      }
    }
    a {
      border: none;
    }
  }
  &__form-select-box {
    & select {
      font-family: var(--second-family);
	  font-size: 14px ;
      line-height: 229%;
      color: #7b7d83;
	  box-shadow: none;
	  outline: none;
      &:focus {
        box-shadow: none;
        outline: none;
		border-color: #e7e7e7 !important;
        // background: #f7f7f7;
        &::placeholder {
          opacity: 0;
        }
      }
    }
  }
}
