@use "../../utils" as *;

/*----------------------------------------*/
/*  5.1 blog
/*----------------------------------------*/

.cs-blog1 {
  &__item {
    padding: 10px;
    background: var(--rr-common-white);
    box-shadow: 0 1px 3px 0 rgba(35, 47, 75, 0.1);
    @include rs-transition;
    &:hover {
      box-shadow: 0 20px 20px 0 rgba(35, 47, 75, 0.1);
    }
    &-thumb {
      max-width: 198px;
      width: 100%;
      img {
        width: 100%;
      }
    }
    &-content {
      padding-left: 20px;
      span {
        font-size: 12px;
        a {
          color: var(--rr-text-body);
          &:hover {
            color: var(--rr-theme-primary);
          }
        }
      }
      h4 {
        a {
          font-weight: var(--rr-fw-sbold);
          font-size: 24px;
          &:hover {
            color: var(--rr-theme-primary);
          }
        }
      }
      p {
        font-family: var(--rr-ff-body);
          font-size: 16px;
          line-height: 175%;
          margin-top: 10px;
          margin-bottom: 15px;
      }
    }
  }
}
