@use "../../utils" as *;

// customize by shahareeyar rahman
.cs-about {
    &__area{
        margin-top: 50px ;
    }
  &__sm-circle {
    width: 470px;
    height: 470px;
    border-radius: 50%;
    background-color: #013ad6;
    &::before {
      content: "";
      bottom: 0;
      left: -50px;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      border: 2px solid #013ad6;
    }
    &-1 {
      top: 34px;
      z-index: 2;
      right: -45px;
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid var(--rr-common-black);
    }
    &-2 {
      bottom: 0;
      z-index: 2;
      left: -45px;
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid var(--rr-common-black);
    }
  }
  &__big-circle {
    left: 25px;
    top: -80px;
    width: 550px;
    height: 550px;
    overflow: hidden;
    border-radius: 50%;
  }
  &__list {
    ul {
      margin: 0;
      list-style: none;
      li {
        line-height: 2;
        font-size: 22px;
        font-family: var(--rr-ff-heading);
        color: var(--rr-theme-secondary);
        span {
          margin-right: 5px;
        }
      }
    }
  }
}
