@use "../../utils" as *;

.cs-pricing {
  &__card {
    background: var(--rr-common-white);
    box-shadow: 0 1px 3px 0 rgba(35, 47, 75, 0.1);
    &:hover{
        box-shadow: 0 20px 20px 0 rgba(35, 47, 75, 0.1);
        @include rs-transition;
    }
    .card-header {
      padding: 50px 30px 36px 30px;
      border-bottom: 1px solid rgb(240, 240, 240);
      h4 {
        font-family: var(--rr-ff-heading);
        font-weight: var(--rr-fw-sbold);
        line-height: 180%;
        color: var(--rr-theme-primary);
      }
      p {
        font-family: var(--rr-ff-body);
        font-size: 18px;
        line-height: 156%;
        color: var(--rr-text-body);
      }
      .pricing {
        h1 {
          font-family: var(--rr-ff-heading);
          font-weight: var(--rr-fw-sbold);
          font-size: 46px;
          line-height: 70%;
          color: #1039ad;
        }
        span {
          font-family: var(--rr-ff-heading);
          font-size: 16px;
          line-height: 137%;
          color: var(--rr-text-body);
        }
      }
    }
    .card-footer {
        padding: 30px 30px 36px 30px;
      h6 {
        font-family: var(--font-family);
        font-weight: var(--rr-fw-sbold);
        font-size: 18px;
        line-height: 236%;
        color: #232f4b;
      }
      ul {
        list-style: none;
        li {
          font-family: var(--rr-ff-body);
          font-size: 16px;
          line-height: 200%;
          color: var(--rr-text-body);
          display: inline-flex;
          align-items: center;
          gap: 10px;
          & span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--rr-theme-primary);
            display: block;
          }
        }
      }
    }
  }
}
