@use "../../utils" as *;

.cs-service {
  &__slide {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    &:hover {
      &::before {
        opacity: 0.8;
      }
      & .cs-service__slide-text {
        opacity: 1;
      }
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--rr-theme-secondary);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      @include rs-transition;
    }
    img {
      width: 100%;
      display: block;
      border-radius: 10px;
      object-fit: cover;
    }
    &-text {
      width: calc(100% - 30px); /* Left এবং Right এর গ্যাপ অ্যাডজাস্ট */
      background-color: var(--rr-common-white);
      padding: 20px;
      border-radius: 10px;
      position: absolute;
      left: 15px; /* শুধু Left পজিশন */
      bottom: 15px; /* Bottom পজিশন */
      z-index: 3;
      opacity: 0;
      @include rs-transition;
      & > a {
        font-family: var(--rr-ff-heading);
        font-size: 16px;
        color: var(--rr-text-primary);
      }
      h5 {
        font-size: 22px;
        line-height: 173%;
      }
      button {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        &:hover {
          color: #1039ad;
          i {
            padding-left: 5px;
            color: #1039ad;
          }
        }
        i {
          @include rs-transition;
        }
      }
    }
  }
}


// customize slider pagination here 

.cs-service__slide-pagination {
    position: absolute; /* পজিশন নির্ধারণ */
    bottom: 119px !important; /* নিচ থেকে দূরত্ব */
    left: 50%; /* কেন্দ্রস্থ করা */
    z-index: 9; /* অন্যান্য এলিমেন্টের উপর রাখার জন্য */
  }
  
  .cs-service__slide-pagination .swiper-pagination-bullet {
    width: 12px; /* ডটের প্রস্থ */
    height: 12px; /* ডটের উচ্চতা */
    background-color: #e7ebf7; /* ডটের রং */
    opacity: 1; /* ডটের স্বচ্ছতা */
  }
  
  .cs-service__slide-pagination .swiper-pagination-bullet-active {
    background:linear-gradient(180deg, #7a97e9 0%, #1039ad 100%); /* অ্যাক্টিভ ডটের রং */
    width: 16px; /* অ্যাক্টিভ ডটের আকার পরিবর্তন */
    height: 16px;
  }
  