@use "../../utils" as *;

.cs-service {
  &__slide {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    &:hover {
      &::before {
        opacity: 0.8;
      }
      & .cs-service__slide-text {
        opacity: 1;
      }
    }
    &::before {
      content: "";
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      @include rs-transition;
      background-color: var(--rr-theme-secondary);
    }
    img {
      width: 100%;
      display: block;
      object-fit: cover;
      border-radius: 10px;
    }
    &-text {
      left: 15px; 
      z-index: 3;
      opacity: 0;
      bottom: 15px; 
      padding: 20px;
      position: absolute;
      border-radius: 10px;
      @include rs-transition;
      width: calc(100% - 30px); 
      background-color: var(--rr-common-white);
      & > a {
        font-size: 16px;
        color: var(--rr-text-primary);
        font-family: var(--rr-ff-heading);
      }
      h5 {
        font-size: 22px;
        line-height: 173%;
      }
      button {
        margin-top: 7px ;
        font-size: 16px;
        font-weight: var(--rr-fw-sbold);
        font-family: var(--font-family);
        &:hover {
          color: var(--rr-theme-primary);
          i {
            padding-left: 5px;
            color: var(--rr-theme-primary);
            font-weight: var(--rr-fw-sbold);
          }
        }
        i {
          @include rs-transition;
          font-weight: var(--rr-fw-sbold);
        }
      }
    }
  }
}


// customize slider pagination here 

.cs-service__slide-pagination {
    position: absolute; /* পজিশন নির্ধারণ */
    bottom: 119px !important; /* নিচ থেকে দূরত্ব */
    left: 50%; /* কেন্দ্রস্থ করা */
    z-index: 9; /* অন্যান্য এলিমেন্টের উপর রাখার জন্য */
  }
  
  .cs-service__slide-pagination .swiper-pagination-bullet {
    width: 12px; /* ডটের প্রস্থ */
    height: 12px; /* ডটের উচ্চতা */
    background-color: #e7ebf7; /* ডটের রং */
    opacity: 1; /* ডটের স্বচ্ছতা */
  }
  
  .cs-service__slide-pagination .swiper-pagination-bullet-active {
    background:linear-gradient(180deg, #7a97e9 0%, #1039ad 100%); /* অ্যাক্টিভ ডটের রং */
    width: 16px; /* অ্যাক্টিভ ডটের আকার পরিবর্তন */
    height: 16px;
  }
  