@use "../../utils" as *;

.cs-team1 {
  &__item {
    position: relative;
    transition: all 0.3s ease-in-out;
    &::after {
      content: ""; // প্রথমেই থাকতে হবে
      width: 100%;
      height: 100%;
      opacity: 0; // প্রথমে অদৃশ্য থাকবে
      left: 0;
      top: 0;
      position: absolute;
      border-radius: 10px;
      background-color: var(--rr-theme-primary);
      transition: opacity 0.3s ease-in-out; // এখানে ট্রানজিশন যুক্ত করুন
    }

   &:hover {
      &::after {
        opacity: 0.8; // শুধু opacity পরিবর্তন হবে
      }
      .cs-team1__item-thumb-content {
        opacity: 1;
        visibility: visible;
      }
    }
    &-thumb {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      &-content {
        position: absolute;
        bottom: 50px;
        left: 30px;
        z-index: 9;
        opacity: 0;
        visibility: hidden;
        @include rs-transition;
        h4 {
          a {
            font-size: 22px;
            line-height: 28px;
            color: var(--rr-common-white);
            font-weight: var(--rr-fw-sbold);
            font-family: var(--rr-ff-heading);
          }
        }
        p {
          font-size: 16px;
          line-height: 28px;
          padding-bottom: 10px;
          color: var(--rr-common-white);
          font-family: var(--rr-ff-heading);
        }
        .social-icon {
          ul {
            li {
              list-style: none;
              display: inline-block;
              margin-right: 14px;
              a {
                width: 40px;
                height: 40px;
                display: grid;
                place-items: center;
                border-radius: 50%;
                background-color: var(--rr-common-white);
                i {
                  color: var(--rr-theme-primary);
                }
              }
            }
          }
        }
      }
    }
  }
}

// customize slider pagination here

.cs-team1__slide-pagination {
  position: absolute; /* পজিশন নির্ধারণ */
  bottom:110px !important; /* নিচ থেকে দূরত্ব */
  left: 50%; /* কেন্দ্রস্থ করা */
  z-index: 999; /* অন্যান্য এলিমেন্টের উপর রাখার জন্য */
}

.cs-team1__slide-pagination .swiper-pagination-bullet {
  width: 12px; /* ডটের প্রস্থ */
  height: 12px; /* ডটের উচ্চতা */
  background-color: #e7ebf7; /* ডটের রং */
  opacity: 1; /* ডটের স্বচ্ছতা */
}

.cs-team1__slide-pagination .swiper-pagination-bullet-active {
  background: linear-gradient(
    180deg,
    #7a97e9 0%,
    #1039ad 100%
  ); /* অ্যাক্টিভ ডটের রং */
  width: 16px; /* অ্যাক্টিভ ডটের আকার পরিবর্তন */
  height: 16px;
}
